VITE_SENHA=

# Configurações do Carrossel (Imagens, Títulos e Subtítulos)
VITE_CAROUSEL_IMG_1=
VITE_CAROUSEL_TITLE_1=
VITE_CAROUSEL_SUB_1=

VITE_CAROUSEL_IMG_2=
VITE_CAROUSEL_TITLE_2=
VITE_CAROUSEL_SUB_2=

VITE_CAROUSEL_IMG_3=
VITE_CAROUSEL_TITLE_3=
VITE_CAROUSEL_SUB_3=

VITE_CAROUSEL_IMG_4=
VITE_CAROUSEL_TITLE_4=
VITE_CAROUSEL_SUB_4=
